RAILS_MAX_THREADS=5
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
# SECRET_KEY_BASE= # for production only, can be generated with `rails secret`