<table class="table table-sm table-zebra w-full table-fixed table-pin-rows">
  <thead>
    <tr>
      <th>Visited At</th>
      <th>IP Address</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody id="visits">
    <% if @visits.any? %>
      <% @visits.each do |visit| %>
        <%= render "visit", visit: visit %>
      <% end %>
    <% else %>
    <% end %>
  </tbody>
</table>
<%= turbo_frame_tag "show_more" do %>
  <% if @next_page %>
    <%= link_to "Show More",
        url_path(@url, page: @next_page, format: :turbo_stream),
        data: { turbo_prefetch: false },
        class: "btn btn-primary w-full mt-4" %>
  <% end %>
<% end %>