<table class="table table-sm table-zebra w-full table-fixed">
  <thead>
    <tr>
      <th>Visited At</th>
      <th>IP Address</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td>
          <%= visit.visited_at&.localtime&.strftime("%Y-%m-%d %H:%M:%S") %>
        </td>
        <td>
          <%= visit.ip_address %>
        </td>
        <td>
          <% if visit.country.present? && visit.city.present? %>
            <%= link_to(
                  "#{visit.country.tr('A-Z', "\u{1F1E6}-\u{1F1FF}")} #{visit.city}",
                  "https://maps.google.com/?q=#{visit.latitude},#{visit.longitude}",
                  class: "cursor-pointer hover:underline",
                  target: "_blank"
                ) %>
          <% else %>
            -
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
