<%= render "url_created_modal" %>
<div class="flex flex-col space-y-8 py-12 px-4 items-center">
  <div class="card bg-base-100 shadow-2xl max-w-3xl w-full">
    <div class="card-body">
      <h2 class="card-title text-2xl font-bold mb-6">Create Short Link</h2>
      <%= render "url_form", url: @url %>
    </div>
  </div>
  <% if @urls.any? %>
    <div class="card bg-base-100 shadow-2xl max-w-3xl w-full">
      <div class="card-body space-y-6">
        <h2 class="card-title text-2xl font-bold">
          Recent Links
        </h2>
        <%= render "recent_links", urls: @urls %>
      </div>
    </div>
  <% end %>
</div>