<%= turbo_stream_from @url.id %>
<div class="flex flex-col space-y-8 pb-12 px-4 items-center">
  <div class="max-w-3xl w-full my-4">
    <%= link_to lucide_icon("arrow-left", size:16) + " Home", root_path, class: "btn btn-ghost" %>
  </div>
  <div class="card bg-base-100 shadow-2xl max-w-3xl w-full">
    <div class="card-body">
      <%= render "url_details", url: @url %>
    </div>
  </div>
  <div class="card bg-base-100 shadow-2xl max-w-3xl w-full">
    <div class="card-body space-y-6">
      <h2 class="card-title text-2xl font-bold">
        Events
      </h2>
      <%= render "visits", url: @url %>
    </div>
  </div>
</div>
